confluent_cloud_api_key    = "YQ7H36S2Z4LNSZLN"
confluent_cloud_api_secret = "cfltUOMfui2HfbtAVcq1hdEMu5nM0dpM/JI/oj3pryYISKYnUZDhUWTc2yEydduw"
mcp_url                    = "MCP_SERVER_URL"
mcp_token                  = "MCP_SERVER_TOKEN"
bedrock_access_key_id      = "AWS_ACCESS_KEY_ID"
bedrock_secret_access_key  = "AWS_SECRET_ACCESS_KEY"
db_host                    = "POSTGRES_HOST"
db_port                    = 5432
db_name                    = "app28"
db_password                = "passowrd"
